# ==================================================
# Python virtual environment
# ==================================================
.venv/
venv/
ENV/
env/
__pycache__/

# ==================================================
# Environment variables
# ==================================================
.env


porcupine/