# ==================================================
# Python virtual environment
# ==================================================
.venv/
venv/
ENV/
env/
__pycache__/

# ==================================================
# Environment variables
# ==================================================
.env

# ==================================================
# Logging files
# ==================================================
hey_chef.log
logs/
*.log

porcupine/